*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.home {
  /* margin-left: 10rem;
  margin-right: 10rem; */
  /* text-align: center;
  justify-content: center;
  padding-block-top: 15rem;
  padding-block-end: 15rem;
  padding-left: 15rem;
  padding-right: 15rem; */
  /* padding-left: 7rem; */
  /* padding-right:8rem; */
  grid-area: home;
}

.home-image-style {
  /* background-image: radial-gradient(#dfa57f 8%,transparent 0) !important; */
  background-color: aqua !important;

}

.product-grid {
  /* width: 30rem; */
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  /* Four columns in each row */
  gap: 1px;
  /* Adjust the gap between items as needed */
  /* margin: 40px; */
  /* margin-left: 10rem; */
  /* margin-right: 10rem; */
  /* justify-content: center; */
  /* text-align: center; */
  margin-top: -15rem;
  /* padding-left: 10px;
  padding-right: 10px; */
  justify-content: center;
}

.product {
  /* border: 1px solid #ccc; */
  /* padding: 10px;
  text-align: center;
  margin-top: -10rem;
  width: 16rem;
  height: 22rem;
  background-color: pink;
  margin-bottom: 10rem;
  border-radius: 2rem;
  background-image: radial-gradient(#dfa57f 8%,transparent 0); */
  display: flex;
  background-color: #f1d6c4;
  background-image: radial-gradient(#dfa57f 8%, transparent 0);
  background-position: 0 0;
  background-size: 1.8rem 1.8rem;
  border-radius: 3rem;
  box-shadow: inset 0 0 5rem 2rem #fff;
  flex-direction: column;
  margin: 1rem;
  /* scroll-snap-align: center; */
  width: 27remrem;
  text-align: center;
  height: 25rem;
  padding: 1rem;
  justify-content: space-between;
}

.product-card,
.product-cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: greenyellow;
}

.product img {
  /* max-width: 100%; */
  /* max-height: 100px; */
  width: 10rem;
  height: 10rem;
  /* margin-bottom: 50px; */
  /* margin-top: -20rem; */
}

.d-flex {
  display: flex;
  flex-direction: row;
  /* or flex-direction: row-reverse; */
  justify-content: space-between;
  /* or other justify-content values */
  align-items: center;
  /* or other align-items values */
}

.margin-40px {
  margin: 90px;
}


/* .grid-container {
  display: grid;
  grid-template-areas:
      "header"
      "content"
      "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 4rem;
  height: 100vh;
} */
/* .header, .brand-logo {
  align-items: center;
  display: flex;
} */
.header-main {
  background-color: #f8d4bd;
}

.header1 {
  /* color: #000; */
  /* font-size: 1.5rem;
  grid-area: header;
  justify-content: space-between;
  padding: 1rem; */
  height: 5rem;
  padding-top: 2rem;
  display: flex;

}

.links-content {
  margin-left: 30rem;
}

.link-elements {
  font-weight: bold;
  color: black;
  font-size: large;
  text-decoration: none !important;
  /* Add underline on hover if desired */

}

a:hover {
  color: brown !important
}


.main {
  background-color: #f8d4bd;

}

.products-hero-design {
  background: #fa8907;
  border-radius: 5rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.product-card {
  background-color: #f1d6c4;
  background-image: radial-gradient(#dfa57f 8%, transparent 0);
  background-position: 0 0;
  background-size: 1.8rem 1.8rem;
  border-radius: 4rem;
  box-shadow: inset 0 0 5rem 2rem #fff;
  flex-direction: column;
  margin: 1rem;
  scroll-snap-align: center;
  width: 27rem;
}

.product-main {
  background-color: #fa8907;
  height: 20rem;
  border-radius: 50px;
  /* margin-top: 15%; */
  width: 96%;
  margin-inline: 2rem;
  /* position: relative; */

}

/* @media screen {
  .product-main{
    background-color: #fa8907;
    height: 18rem;
    border-radius: 50px;
    margin-top: 25px;
    width: 100%;
    
  }                                                                         
  
} */

.main-header {
  display: flex;
  justify-content: end;
  text-align: center;
}

body {
  background-color: #f8d4bd;
  /* Set the background color for the entire page */
  margin: 0;
  /* Remove default body margin */
  padding: 0;
  /* Remove default body padding */
  min-height: 100vh;
  /* Ensure the background color covers the full viewport height */
}


.shop {
  background-color: #f1d6c4;
  background-image: radial-gradient(#dfa57f 8%, transparent 0);
  background-position: 0 0;
  background-size: 1.8rem 1.8rem;
  border-radius: 3rem;
  box-shadow: inset 0 0 5rem 2rem #fff;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: -14rem;
  scroll-snap-align: center;
  width: 85rem;
  /* text-align: center; */
  height: 28rem;
  /* justify-items: center; */
  /* margin-top: -8rem; */
  position: relative;
}

/* .content-display{
  display: flex;
  align-items: center;
} */
.left-content {
  color: blue;
  font: bold;
  font-size: 2rem;
  font-weight: 500;
  word-wrap: break-word;
  max-width: 450px;
  /* margin-top: -10rem; */
  padding-left: 3rem !important;
  padding-top: 1rem;
}

.product-description {
  color: gray;
  font-size: 14px;
  /* Adjust the font size as needed */
  word-wrap: break-word;
  /* Enable word wrapping */
  max-width: 450px;
  /* Set a maximum width for the container */
  margin-top: 40px;

}

.product-detail-middle-container {
  align-items: center;
  background-color: #f1d6c4;
  border-bottom: 0.2rem inset #fe7c558a;
  ;
  border-radius: 50%;
  border-top: 0.2rem inset #fe7c558a;
  display: flex;
  height: 24rem;
  justify-content: center;
  position: relative;
  width: 24rem;
  margin-right: 12rem;
}

.product-middle {
  /* margin-top: 2rem;
  margin-left: 8rem; */
  padding-top: 2rem;
}

.product-detail-middle-container .product-image-gallery {
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 0 0 2rem 1rem #fff;
  display: flex;
  flex-direction: column;
  height: 21rem;
  justify-content: center;
  position: absolute;
  width: 21rem;
}

/* .logo,  .logo .dots {
  align-items: center;
  display: flex;
  justify-content: center;
}
 .logo {
  background-color: #f8f6f2;
  border-radius: 50%;
  box-shadow: 0 0 0.2rem rgba(0,0,0,.5);
  color: #000;
  font-size: .8rem;
  height: 4rem;
  width: 4rem;
}
 .logo .dots {
  flex-wrap: wrap;
}

 .logo, .logo .dots {
  align-items: center;
  display: flex;
  justify-content: center;
}
 .logo .dots .first-dot {
  color: gray;
}
 .logo .dots>div {
  flex: 50% 1;
  text-align: center;
} */


/* .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  justify-items:center;
} */
.circle {
  width: 40px;
  /* Adjust the width and height as needed */
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: large;
}

.circle a {
  text-decoration: none;
  color: black;
}

.product-title {
  color: #0f4e8c;
  font-size: 1rem;
  padding: 3px;
  font-weight: 600;
}

.related-product {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

}

body {
  background-color: #f8d4bd;
}

.common-background {
  background-color: #f1d6c4;
  background-image: radial-gradient(#dfa57f 8%, transparent 0);
  background-position: 0 0;
  background-size: 1.8rem 1.8rem;
  border-radius: 4rem;
  box-shadow: inset 0 0 5rem 2rem #fff;
  width: 20rem;
  height: 30rem;
  /* display: flex; */
  text-align: center;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-style {
  width: 16rem;
  height: 40px;
  border-radius: 1rem;
  border: 1px none #ccc;
  margin-top: 1rem;
  outline: none;
}

/* .input-style:focus {
  border-color: none;
}
 */
.button-style:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: .5;
  /* Add any other styles you want for the disabled state */
}

.button-style {
  width: 10rem;
  height: 40px;
  border-radius: 1rem;
  /* border: 1px none black;  */
  background-color: black;
  margin-top: 1rem;
  /* outline: none; */
  color: #fa8907;
  font-size: 1rem;
  opacity: 1;
}

/* .button-style.open {
  opacity: 1;
  width: 10rem;
  height: 40px;
  border-radius: 1rem;
  background-color: rgb(221, 212, 212);
  margin-top: 1rem;
  color: #fa8907;
  font-size: 1rem;
} */

.login-background {
  background-color: #f1d6c4;
  background-image: radial-gradient(#dfa57f 8%, transparent 0);
  background-position: 0 0;
  background-size: 1.8rem 1.8rem;
  border-radius: 4rem;
  box-shadow: inset 0 0 5rem 2rem #fff;
  width: 20rem;
  height: 25rem;
  /* display: flex; */
  text-align: center;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-bag {
  width: 40px;
  /* Adjust the width and height as needed */
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 17rem;


}

.image-style {
  width: 12rem;
  height: 12rem;
  background-image: none !important;

}

/* MyAccount styles */
.myaccount-style {
  background-color: #f1d6c4;
  background-image: radial-gradient(#dfa57f 8%, transparent 0);
  /* background-position: 0 0; */
  background-size: 1.8rem 1.8rem;
  border-radius: 3rem;
  box-shadow: inset 0 0 5rem 2rem #fff;
  flex-direction: column;
  /* scroll-snap-align: center; */
  width: 93rem;
  /* text-align: center; */
  height: 36rem;
  /* justify-items: center; */
  /* padding-top: 15rem; */
  display: flex;
  align-items: center;
  /* position: relative; */
  /* padding-left: 3px; */
  /* padding-right: 3px; */
  /* margin-right: 3px; */
  margin-left: 1rem;
  /* justify-content:center; */
}

.size-box {
  /* -webkit-tap-highlight-color: transparent; */
  align-items: center;
  background-color: #f1d6c4;
  border-radius: 1rem;
  box-shadow: inset 0 0 2rem 0.2rem #fff;
  cursor: pointer;
  display: flex;
  flex: 0 0 33%;
  height: 2.4rem;
  justify-content: center;
  margin: 0.5rem;
  transition: background-color .3s;
  width: 5rem;
}

.product-detail-size .sizes {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 1rem 0;
}

.input {
  box-sizing: none;
}

.right-content {
  /* padding-right: 2rem; */
  padding-top: 1rem;

}

input[type="radio"] {
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  outline: none;
}

.colors {
  -webkit-tap-highlight-color: transparent;
  border: 3rem solid #f1d6c4;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.5rem #fff, 0 0 0 0.2rem #cac9c98f;
  cursor: pointer;
  height: 2rem;
  margin: 4rem;
  transition: box-shadow .3s;
  width: 2rem;
  margin-left: 1rem !important;
  margin-top: 1rem !important;
}

.signup-button-style {
  width: 12rem !important;
  height: 3rem !important;
  margin-left: 6rem !important;
  background-color: black;
  margin-left: 2rem !important;
  color: #fa8907;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
  border-radius: 3rem;
}

.signup-button-style:disabled {
  opacity: 0.5;
}




.image-row {
  margin: 2rem;
}



.cart-style {

  background-color: #f1d6c4;
  background-image: radial-gradient(#dfa57f 8%, transparent 0);
  background-position: 0 0;
  background-size: 1.8rem 1.8rem;
  border-radius: 3rem;
  box-shadow: inset 0 0 5rem 2rem #fff;
  flex-direction: column;
  margin-left: 0.5rem;
  /* margin-top: -15rem; */
  scroll-snap-align: center;
  width: 95rem;
  /* text-align: center; */
  min-height: 15rem;
  overflow: auto;
  /* justify-items: center; */
  margin-top: 1rem;


}

.centered-bold-text {
  text-align: center;
  font-weight: bold;
  color: black;
  padding-top: 1rem;
}

.cart-button-style {
  width: 12rem !important;
  height: 3rem !important;
  /* margin-left: 6rem !important; */
  background-color: black;
  /* text: center; */
  border-radius: 10px;
  justify-items: center;
  margin-top: 2em;


}

.plus-style {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  background-color: #f1d6c4;
  border-radius: 50%;
  box-shadow: inset 0 0 1rem 0.5rem #fff;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  height: 2rem;
  justify-content: center;
  /* margin: 0 1rem; */
  opacity: .8;
  width: 2rem;

}

.rect-style {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  background-color: #f1d6c4;
  border-radius: 30%;
  box-shadow: inset 0 0 1rem 0.5rem #fff;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  height: 2rem;
  justify-content: center;
  margin: 0 1rem;
  opacity: .8;
  width: 2rem;
}

.title-style {
  font-size: 1.1rem !important;
  /* padding-right: 20rem !important; */
  margin-left: 8rem;
}

.cart-item-icons {
  /* margin-right: 20rem !important; */
  margin-right: 18rem;
}

.price-style {
  margin-left: 30rem !important;
  margin-top: 1rem;
}

.form-style {
  margin-right: 30rem;
}

.content-form-style {
  margin-left: 4rem !important;
}

.content-email-form-style {
  margin-left: 6rem !important;
  /* opacity: 0.1 !important; */
}

.email-input-style {
  opacity: 0.4;
  font-size: large;
  color: #000 !important;
}

.order-style {
  margin-left: 30rem;
  padding-top: 1rem;
}

.quantity-label {
  font-size: 1.2rem;
}

.main-shop-style {
  font-weight: 900;
  color: #000;
  font-size: large;
}

/* .body{
  width: 100% !important;
  height: 100% !important;
} */
.checkGrid {
  display: -ms-grid;
  /* For older versions of Internet Explorer */
  display: grid;
  grid-template-areas: "header"
    "home";
  align-content: center;
  margin-top: 0.5rem;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;
  color: #000;
}

.main {
  grid-area: main;
}

html,
body {
  /* max-width: 50%; */
  /* overflow-x: hidden; */
  /* overflow: auto; */
}

/* *{
  overflow-x: hidden;
} */
.header-links {
  display: contents;
  font-size: 1rem;
  /* margin-block: 15rem; */
  margin-left: 15rem;
  margin-right: 15rem;
  /* color: #000; */
  /* width: 5rem; */
}

.nav-links {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0 2rem;
  /* color: #000; */
}

.brand-name {
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 1rem;
  color: #000;

}



.dots {
  font-size: 5px;
  grid-area: 'dots';
  padding: 0px !important;
  margin: 0px !important;

}

/* .dots-div-main {
  width: 1.4rem;
  height: 1.4rem;
  background-color: white;
  border-radius: 3rem;
  align-items: center;
  justify-content: center;

} */


.dots-div {
  display: grid;
  grid-template-areas: 'dots dots'
    'dots dots';
  /* grid-template-rows: auto;
    grid-template-columns: auto; */
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 3rem;
  align-items: center;
  justify-content: center;
  grid-row-gap: 0.1rem !important;
  grid-column-gap: 0.2rem
}

.dots-main {
  background-color: white;
  border-radius: 3rem;
  /* align-items: center;
  justify-content: center; */
  width: 2.5rem;
  height: 2.5rem;
}

.bag {
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  /* align-items: center;
  justify-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* align-content: center; */
}

.links-style {
  display: flex;
  justify-content: space-between;


}

.products-display {
  /* position:fixed; */
  margin-top: -10rem;
}

.header-style-main {
  display: flex;
  justify-content: space-between;
}

/* Normal state */
a {
  color: #000000 !important;
  /* Default color */
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Active state */
a:active {
  color: #af2615;
  /* Color when the link is being clicked */
}

.shop-products-display {
  margin-top: 14rem;
  /* display: flex; */
  position: relative;
}

.product-price {
  color: #35587a !important;
  font-size: 1rem !important;
  font-weight: 600;
}

.related-product {
  text-align: center;
  margin: 2rem;
  color: #000;
  font-size: 0.2rem;
}

.related-product h3 {
  font-size: 25px;
}

/* @media only screen and (min-width: 1401px){
.product-detail-middle-container1 {
    height: 38rem;
    width: 38rem;
}
}
@media only screen and (min-width: 1401px){
.product-detail-left-container, .product-detail-middle-container1, .product-detail-right-container {
    height: 100%;
}}
.product-detail-middle-container1 {
    align-items: center;
    background-color: #f1d6c4;
    border-bottom: 0.2rem inset #fe7c558a;
    border-radius: 50%;
    border-top: 0.2rem inset #fe7c558a;
    display: flex;
    height: 32rem;
    justify-content: center;
    position: relative;
    width: 32rem;
} */
.logo {
  background-color: #f8f6f2;
  border-radius: 50%;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, .5);
  color: #000;
  font-size: .4rem;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots-main-style {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dots-main-style>div {
  flex: 50% 1;
  text-align: center;
  /* font-size: 8px; */
}

.nav-button {
  background-color: #f8f6f2;
  border-radius: 50%;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, .5);
  color: #000;
  /* font-size: .4rem; */
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button {
  display: none;
}

.fatimeStyle {
  display: none;
}

/* Media Query for screens with a minimum width of 990px */
/* Media Query for screens with a maximum width of 990px */
/* Media Query for screens with a maximum width of 990px */
/* Media Query for screens with a maximum width of 990px */
/* Media Query for screens with a maximum width of 990px */
@media screen and (max-width: 990px) {
  .header-links {
    display: none;
    position: fixed;
    /* or position: absolute; */
    top: 0;
    left: 0;
    margin-block-end: 0%;
    width: 20%;
    height: 100vh;
    background-color: #f8d4bd;
    /* Set a background color or customize as needed */
    z-index: 1000;
    /* Adjust the z-index to make sure it appears above other content */
    opacity: 1 !important;
  }

  .header-links.open+.checkGrid {
    opacity: 0.2;
  }


  /* .checkGrid{
    opacity: 0.2;
  } */
  .header-links.open {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: self-start;
    justify-content: space-evenly;
    /* margin-top: 2rem;
    margin-right: 4rem; */
    /* margin-left: 45rem; */
    margin-left: 75%;
    width: 15%;
  }

  .header-links.open .checkGrid {
    opacity: 0.2;
  }

  .nav-button {
    display: block;
  }

  .header nav {
    order: 3;
  }

  .nav-links {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 2rem;
    /* color: #000; */
    margin-block: 0.2rem;
  }

}

.fatimeStyle {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 55%;
  font-size: 1.5rem;
  font-weight: 500 !important;
  margin-top: 2rem;
  margin-left: 7rem;
  margin-bottom: 1rem;



}




.overlay,
.searchOverlay {
  background: rgba(0, 0, 0, .85);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  overflow: auto;
}


/* Your existing navigation styles can go here */